#textCourse{
  background-color: blue;
  height: 400px;
  width:400px;
  border: 2px solid black;
}
#checkbox{
  color:white;
  font-size: 25px;


}
#header{
  height: 170px;
  width: 100%;
  background-color: #EBECED;
  text-align: center;
  color: #FB4096;
  padding-top: 60px;
  font-size: 30px;
  font-family: Futura;

}
#button{
  height: 20px;
  width: 100px;
  color: white;
  background-color: grey;
  border:0;
  font-family: Helvetica;
  clear:both;
  align-self: center;

}

#mainDiv{
  background-color: black;
  color:white;
  padding-top: 10px;
  height: 260px;
  width: 100%;
  font-family: Futura;
  font-size: 26px;
}
#coursediv{
  height: 400px;
  width:400px;
}
#courseP{
  font-size: 36px;
  color:white;
  text-decoration: none;
}

#a{
  font-size: 18px;

}
